<% include ./partials/header %>

  <title>Register</title>
</head>
<body>
<h1>Create Account</h1>
<a href="/logout">Logout</a>
<p>Welcome to the dashboard, <%= user.firstName %></p>

<% include ./partials/footer %>